# Gradle
.gradle/
build/
local.properties
.idea/
*.iml

# Local machine config
local.properties

# Android Studio
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db
sentry*
.gitnexus
.claude*

# Gitnexus files
AGENTS.md
CLAUDE.md